* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  color: #111;
}

/* HEADER */

.header {
  background: #050505;
  min-height: 72px;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid #fff;
}

.logo {
  color: white;
  font-size: 27px;
  font-weight: 900;
  letter-spacing: -1px;
}

.logo span {
  font-size: 13px;
  vertical-align: top;
}

.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: .7px;
}

/* HERO */

.hero {
  min-height: 430px;
  background:
    linear-gradient(
      90deg,
      rgba(0,0,0,.94),
      rgba(0,0,0,.70),
      rgba(0,0,0,.30)
    );
  display: flex;
  align-items: center;
  padding: 55px 7%;
}

.hero-content {
  max-width: 700px;
}

.season {
  color: #bbb;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 4px;
  margin-bottom: 13px;
}

.hero h1 {
  color: white;
  font-size: clamp(48px, 8vw, 90px);
  line-height: .88;
  font-weight: 1000;
  letter-spacing: -4px;
}

.hero-text {
  color: #ddd;
  margin-top: 25px;
  font-size: 16px;
}

/* HOMEPAGE SECTIONS */

.section {
  max-width: 1250px;
  margin: auto;
  padding: 55px 25px;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 4px solid #111;
  padding-bottom: 12px;
}

.section-title h2 {
  font-size: 25px;
  font-weight: 900;
  letter-spacing: -1px;
}

.section-title a {
  color: #111;
  font-size: 12px;
  font-weight: 800;
  text-decoration: none;
}

/* PLACEHOLDER AREAS */

#matchups,
#standings,
#stat-leaders {
  min-height: 170px;
  background: white;
  border: 1px solid #ddd;
}

/* FOOTER */

footer {
  background: #050505;
  color: white;
  padding: 45px 7%;
}

footer h3 {
  font-size: 28px;
  font-weight: 900;
}

footer p {
  color: #aaa;
  margin-top: 7px;
  font-size: 13px;
}

/* PHONE */

@media (max-width: 750px) {

  .header {
    min-height: 64px;
    padding: 0 18px;
  }

  .nav {
    gap: 13px;
    overflow-x: auto;
    margin-left: 20px;
  }

  .nav a {
    font-size: 10px;
    white-space: nowrap;
  }

  .hero {
    min-height: 360px;
    padding: 45px 22px;
  }

  .hero h1 {
    font-size: 51px;
    letter-spacing: -3px;
  }

  .section {
    padding: 38px 17px;
  }

  .section-title h2 {
    font-size: 20px;
  }
}
